<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、Bookersへようこそ。</h1>
      <p>
      Bookersへのサインアップが成功しました。
    </p>
    <p>
      メール認証を完了するには、<a href=<%= @url %>>ここをクリック</a>
    </p>
    <p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
  </body>
</html>